*{
    margin: 0;
    padding: 0;
    font-family: "Parkinsans";
    /* list-style-type: none; */
    scroll-behavior: smooth;
}

body{
    background-color: rgb(19, 19, 47);
}

/* header */

nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 1rem;
    /* list-style-type: none; */
}

.navlist{
    display: flex;
    list-style-type: none;
}

#logo{
    text-decoration: none;
    font-size: 30px;
}

.navlist li a{
    padding: 10px;
    transition: all;
    transition-duration: 300ms;
    text-decoration: none;
}

.navlist li a:hover{
    color: white;
}

.navlist li a:before{
    /* content: ""; */
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;;
}

.navlist li a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

a:visited{
    color: black;
}

/* Home */
#home{
    align-items: center;
    margin: 90px;
    padding: 6rem 0;
    justify-content: space-between;
}

.home-container{
    display: flex;
    justify-content: space-between;
}

span{
    color: rgb(41, 41, 221);
}

/* .home-btn{
    font-weight: bold;
    background-color: rgb(29, 96, 241);
    padding: 10px 17px;
    border:none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
} */

.main-text{
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(196, 196, 196);
    margin: 50px;
}

.icons{
    display: flex;
    font-size: 40px;
}

.icon-font{
    font-size: 40px;
    color: white;
}

.profile-photo img{
    width: 80%;
    height: auto;
    border-radius: 50% 20%;
    transition: all;
    transition-duration: 300ms;
}

.profile-photo img:hover{
    transform: scale(1.05);
}

.profile-photo{
    display: flex;
    justify-content: center;
}

/* portofolio */

.cert-title{
    text-align: center;
    color: rgb(41, 41, 221);
    letter-spacing: 15px;
}

.certificate-img{
    height: 350px;
}

.certificate-img img{
    width: auto;
    height: 340px;
    object-fit: cover;
    border-radius: 7px;
}

.description{
    padding: 2rem 1.5rem; 
}

.certificate-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.certificate h4{
    font-weight: 500px;
    font-size: 1.05rem;
}

.certif-tags{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.certif-tags div{
    font-size: 0.9rem;
    border: 1px solid gray;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
}

.grid-3{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

#certificate{
    margin: 60px;
    padding: 1rem 0;
    color: rgb(41, 41, 221);
}

.content-btn{
    background-color: rgb(13, 13, 160);
    padding: 15px;
    margin: 10px;
    border: 0px;
    border-radius: 20% 35%;
    font-size: 25px;
}

.content-btn a{
    text-decoration: none;
    color: rgb(149, 146, 146);
}

.content-btn button:hover{
    transform: scale(1.05);
}

/* services */

.title{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    color: black;
    
}

#services{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 56, 244, 0.33);
}

.service{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 1rem;
}

.service img{
    height: 6rem;
    filter: grayscale(1);
    transition: all;
    transition-duration: 300ms;
    padding: 12px;
}

.service img:hover{
    transform: scale(1.1);
    filter: grayscale(0);
}

/* PIPAS page */

.box-container{
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center;
}

.dampak-list{
    list-style-type: disc;
}

/* Sejarah Page */
.box-container-sjrh{
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-container-sjrh p {
    font-size: 18px;
    margin: 10px;
}

.box-container-sjrh p ul li{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.box-container-sjrh img{
    width: 500px;
    height: 200px;
    margin-left: 150px;
    border-radius: 40px;
    margin-top: 20px;
}

.sumberlink{
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* footer */
footer{
    background-color: rgb(6, 6, 146);
    color: white;
    text-align: center;
    padding: 15px;
}

/* sejarah (PS: ada kode yang masi pake styling sejarah) */

.div-title{
    text-align: center;
}

.mahmud-list{
    margin-right: 20px;
    font-size: 16px;
    line-height: 1.8;
}